{% extends "nav_base.html" %}

{% block title %}About us{% endblock %}

{% block content %}
<h2>Who are we?</h2>
<p>Bristol Hackspace is a social enterprise which aims to open up technology to anybody who takes an interest in it. We run a small lab and workshop open to members, based in Meridian Studios in St Philips. The hackspace is on the  corner of Queen Victoria Street and Days Road. <a href="{{ url_for('registration') }}">How to find us.</a></p>
<p>We want to ‘open’ technology both in the sense of taking things apart to learn how they work, and how to mend or adapt them; and in the sense of sharing the knowledge we gain from doing so. We are committed to the principles of Open Source and Open Knowledge. You can read more about hackspaces, and find similar organisations around the UK at the Hackspace Foundation.</p>
<p>If the words ‘hack’ or hacker’ make you slightly nervous you should read What is a Hacker? by Eric Raymond.</p>
<blockquote>[There are] a bunch of definitions of the term ‘hacker’, most having to do with technical adeptness and a delight in solving problems and overcoming limits. … There are people who apply the hacker attitude to other things, like electronics or music — actually, you can find it at the highest levels of any science or art. … The basic difference is this: hackers build things, crackers break them.</blockquote>
<p>We welcome enquiries from potential new members and anybody else who is interested in what we do. We meet in the space almost every Thursday evening at 7pm and coming along to on of those is probably the best way to see if you would like to get involved.</p>
{% endblock %}