{% extends "nav_base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h2>Registration</h2>
<p>If you’d like to find out more or you’re interested in joining the Hackspace, then please drop in to one of our open / social evenings.</p>
<p>These run most Thursdays from 7pm until late, and you’ll be able to take a look around out facilities and meet a few members. No booking is necessary, just turn up!</p>
<p>When you visit, you’ll also be able to get everything you need to join the Hackspace.</p>

<iframe width="100%" height="500rem" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.5750467181205754%2C51.451989487060175%2C-2.570910751819611%2C51.45358070136107&amp;layer=mapnik&amp;marker=51.45278510114337%2C-2.5729787349700928" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=51.45278&amp;mlon=-2.57298#map=19/51.45278/-2.57298">View Larger Map</a></small>

{% endblock %}






